<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="{{movie.image}}" alt="{{movie.title}}" />
    </div>
    <div class="col">
      <p><a href="/movies">Go back</a></p>
      <h3>{{movie.title}}</h3>
      <h4>Director: {{movie.director}}</h4>
      <p>Stars</p>
      <ul>
        {{#each movie.stars}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p>{{movie.description}}</p>
      <p>
        {{#each movie.showtimes}}
          {{this}} |
        {{/each}}
      </p>
    </div>
  </div>
</div>